<html>
	<head>
		<title>Team Electromov | Dashboard</title>
		<link rel="stylesheet" type="text/css" href="../static/style.css">
		<script src="../static/jquery.min.js"></script>
		<script src="../static/script.js"></script>
	</head>
	<body>
		<div id="dashboard-wrap">
			<div class="sensor">
				<div class="sensor-title">
					<div class="sensor-title-value">
						Ultrasonic
					</div>
				</div>
				<div class="sensor-value-wrap">
					<div class="sensor-value">250</div>
					<div class="unit">cm</div>
				</div>
			</div>
			
			<div class="sensor">
				<div class="sensor-title">
					<div class="sensor-title-value">
						Ultrasonic
					</div>
				</div>
				<div class="sensor-value-wrap">
					<div class="sensor-value">250</div>
					<div class="unit">cm</div>
				</div>
			</div>
			
			<div class="sensor">
				<div class="sensor-title">
					<div class="sensor-title-value">
						Ultrasonic
					</div>
				</div>
				<div class="sensor-value-wrap">
					<div class="sensor-value">250</div>
					<div class="unit">cm</div>
				</div>
			</div>

			<div class="sensor">
				<div class="sensor-title">
					<div class="sensor-title-value">
						Ultrasonic
					</div>
				</div>
				<div class="sensor-value-wrap">
					<div class="sensor-value">250</div>
					<div class="unit">cm</div>
				</div>
			</div>

			<div class="sensor">
				<div class="sensor-title">
					<div class="sensor-title-value">
						Ultrasonic
					</div>
				</div>
				<div class="sensor-value-wrap">
					<div class="sensor-value">250</div>
					<div class="unit">cm</div>
				</div>
			</div>

			<div class="sensor not-triggered">
				
			</div>

		</div>
		<div id="intro">
			<div id="logo"></div>
		</div>
	</body>
</html>