<html>
	<head>
		<link rel="stylesheet" type="text/css" href="../static/style.css">
		<script src="../static/jquery.min.js"></script>
		<script src="../static/script.js"></script>
	</head>
	<body>
		<div id="dashboard-wrap">
			<div class="sensor">
				<div class="sensor-title">
					<div class="sensor-title-value">
						Ultrasonic
					</div>
				</div>
				<div class="sensor-value">250 cm</div>
			</div>
			
			<div class="sensor">
				<div class="sensor-title">
					<div class="sensor-title-value">
						Ultrasonic
					</div>
				</div>
				<div class="sensor-value">250 cm</div>
			</div>

			<div class="sensor">
				<div class="sensor-title">
					<div class="sensor-title-value">
						Ultrasonic
					</div>
				</div>
				<div class="sensor-value">250 cm</div>
			</div>

			<div class="sensor">
				<div class="sensor-title">
					<div class="sensor-title-value">
						Ultrasonic
					</div>
				</div>
				<div class="sensor-value">250 cm</div>
			</div>

			<div class="sensor">
				<div class="sensor-title">
					<div class="sensor-title-value">
						Ultrasonic
					</div>
				</div>
				<div class="sensor-value">250 cm</div>
			</div>

			<div class="sensor">
				<div class="sensor-title">
					<div class="sensor-title-value">
						Ultrasonic
					</div>
				</div>
				<div class="sensor-value">250 cm</div>
			</div>

		</div>
	</body>
</html>