@font-face {
  src: url('../static/Roboto-Regular.ttf');
  font-family: DefaultFont;
}
body {
  margin: 0;
  padding: 0;
}

#intro {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	z-index: 1;
}
#logo {
	position: absolute;
	top: calc(50% - 75px);
	left: calc(50% - 100px);
	height: 150px;
	width: 200px;
	background-image: url('logo.jpg');
	background-size: cover;
}

#dashboard-wrap {
  position: absolute;
  top: 0px;
  left: 0px;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  background-color: black;
  display: grid;
  grid-template-areas: 
    'sensor sensor sensor'
    'sensor sensor sensor';
  z-index: 0;
}

.sensor {
  grid-area: 'sensor';
  background-color: rgba(255, 255, 243, 0.8);
  width: 99%;
  height: 98%;
  display: grid;
  grid-template-areas:
    'title'
    'value unit';
  justify-content: center;
}

.sensor-title {
  grid-area: 'title';
  font-size: 3vh;
  font-family: DefaultFont;
  text-align: center;
}
.sensor-title-value {
  position: relative;
  top: calc(100% - 3.2vh);
}
.sensor-value-wrap {
  position: relative;
  grid-area: 'value';
  font-family: DefaultFont;
  top: 4px;
  text-align: center;
  display: grid;
  grid-template-areas:
	'sensor_val unit';
}
.sensor-value {
	grid-area: 'sensor_val';
}
.unit {
	grid-area: 'unit';
}
.not-triggered {
  background-color: rgba(255, 255, 243, 0.8);
}
.triggered {
  background-color: red;
  animation: fadeInOut 1.5s infinite;  
}


@keyframes fadeInOut {
  0% {opacity: 0;}
  50% {opacity: 1;}
  100% {opacity: 0;}
}
  


